body {
    padding: 40px 60px;
    font-size: 18px;
}

.header {
    display: flex;
    margin-bottom: 70px;
}

.title {
    flex-grow: 1;
}

.picture {
    width: 150px;
    height: 150px;
    background: url(../../resources/profile.jpg);
    background-size: cover;
}

h3 {
    padding-left: 120px;
}

.line {
    display: flex;
    line-height: 30px;
}

.line .date {
    min-width: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.line i {
    font-size: 0.9em;
}

.skill-logos {
    display: flex;
    flex-direction: column;
    height: 120px;
    flex-wrap: wrap;
}

.skill-logos div {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 50px;
    margin-bottom: 10px;
}

.python {
    background-image: url(../../resources/logos/python.png);
}
.django {
    background-image: url(../../resources/logos/django.png);
}
.skills .django {
    width: 40px;
}
.postgresql {
    background-image: url(../../resources/logos/postgresql.png);
}
.redis {
    background-image: url(../../resources/logos/redis.png);
}
.skills .redis {
    height: 44px;
}
.celery {
    background-image: url(../../resources/logos/celery.png);
}
.elasticsearch {
    background-image: url(../../resources/logos/elasticsearch.svg);
}
.aws {
    background-image: url(../../resources/logos/aws.png);
}
.skills .aws {
    witdh: 30px;
}
.kubernetes {
    background-image: url(../../resources/logos/kubernetes.png);
}
.scrapy {
    background-image: url(../../resources/logos/scrapy.png);
}
.flask {
    background-image: url(../../resources/logos/flask.png);
}

.company-logo {
    background-size: cover;
}

.company-logo.sketchfab {
    background-image: url(../../resources/logos/sketchfab.png);
    width: 30px;
    height: 30px;
    margin-top: 8px;
}
.company-logo.wiremind {
    background-image: url(../../resources/logos/wiremind.png);
    width: 30px;
    height: 30px;
    margin-top: 8px;
}
